.MuiDialogActions-root{
    display:none !important;
}
.css-7kirvq-MuiTypography-root-MuiPickersToolbarText-root.Mui-selected {
    font-size: x-large !important;
    font-weight: 500;
}
.css-zddqwy-MuiClockNumber-root{
    font-size: x-large !important;
    font-weight: 300
}
.css-zddqwy-MuiClockNumber-root.Mui-disabled{
    font-size: large !important;
    font-weight: 100
}
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root{
    font-weight: 500 !important;
    font-size: 1rem !important;
}