.MuiDialogActions-root{
    display:none !important;
}
/* .css-4pax7l-MuiPickersLayout-root{
    border-radius: 10px;
    background-color: #0C0C0C !important; 
}

.css-1hbyad5-MuiTypography-root{
    display:none !important
}
.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root{
    background: #0C0C0C
}
.css-15jcv2p-MuiPickersToolbar-content{
    justify-content: center !important;
}
.css-15jcv2p-MuiPickersToolbar-content>h4{
    font-size: 56px !important;
    font-weight: 500;
}